{% load static %}
<head>
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>
<body>
<div class="main-title animated jackInTheBox">Title</div>
<div class="sub-title animated bounceIn delay-1s"><span class="sub-title-padding"></span>sub title</div>
<div class="content animated fadeIn delay-2s">Content 1</div>
<div class="content animated fadeIn delay-2s">Content 2</div>
<div class="quote animated fadeIn delay-3s">"Quote"</div>
</body>