{% load static %}
<head>
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <title>Hihi</title>
</head>
<body>
<div class="main-title animated jackInTheBox">Kỷ yếu</div>
<div class="sub-title animated bounceIn delay-1s"><span class="sub-title-padding"></span>của bạn Hiếu</div>
<div class="content animated fadeIn delay-2s">cuối tháng 10</div>
<div class="content animated fadeIn delay-2s">ở đâu chưa biết</div>
<div class="quote animated fadeIn delay-3s">"Thích thì đi không thích cũng đi"</div>
<div class="landing-footer">
    From <a href="https://www.facebook.com/dmhpsi" target="_blank">Hiếu</a> with <span style="color:red">❤</span>
</div>
</body>