body {
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

.main-title {
    padding-top: 10vh;
    text-align: center;
    color: white;
    margin: auto;
}

.sub-title {
    text-align: center;
    color: white;
    margin: auto;
}

.sub-title-padding {
    padding-left: 20%;
}

.content {
    color: white;
    margin: auto;
    padding: 10px;
}

.content-container {
    display: flex;
}

.quote {
    text-align: center;
    color: white;
    margin: auto;
    font-style: italic;
    padding-top: 5%;
}

.landing-footer {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
}

.main-title-txt {
    font-size: 15vw;
}
.sub-title-txt {
    font-size: 15vw;
}
.content-txt {
    font-size: 5vw;
}
.quote-txt {
    font-size: 5vw;
}
@media (min-width: 768px) {
    .main-title-txt {
        font-size: 12vw;
    }
    .sub-title-txt {
        font-size: 12vw;
    }
    .content-txt {
        font-size: 4vw;
    }
    .quote-txt {
        font-size: 4vw;
    }
}

@media (min-width: 1068px) {
    .main-title-txt {
        font-size: 7.5vw;
    }

    .sub-title-txt {
        font-size: 7.5vw;
    }

    .content-txt {
        font-size: 2.5vw;
    }

    .quote-txt {
        font-size: 2.5vw;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg,
    #9b1c00, #9b1515, #9b7b14,
    #969b11, #189b28, #9b0500,
    #3f679b, #8d009a, #dd00f3) 0% 82%;
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s linear infinite 4s;
    -moz-animation: rainbow 18s linear infinite 4s;
    -o-animation: rainbow 18s linear infinite 4s;
    animation: rainbow 18s linear infinite 4s;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.glyph {
    display: inline-block;
    vertical-align: middle;
    width: 0.8em;
}

ul {
    list-style-type: none;
}