<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<title>Music Server</title>
<body>
    <div class="container">
        <h2 class="page-header">Hello!</h2>
        Go to ...
        <div class="list-group">
            <a href="{% url 'getmp3info' %}" class="list-group-item">/getinfo</a>
            <a href="{% url 'wordgenfront' %}" class="list-group-item">/wordgen</a>
        </div>
        <div style="position: absolute; bottom: 5%; right: 5%">
            From <a href="https://www.facebook.com/dmhpsi" target="_blank">Hiếu</a> with <span style="color:red">❤</span>
        </div>
    </div>
</body>
<style>
    * {
        font-size: x-large;
    }
</style>
</html>