<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}
    <title>Word Gen</title>
    <body class="container">
        <h2 class="page-header">Generate the words!</h2>
        <div class="instructions">
            <div>Enter the characters of the game below. E.g. "odvle" for 'o', 'd', 'l', 'v', 'e' set.</div>
            <div>Then select the shortest and the longest length of words in the game.</div>
            <div>Finally simple click <button class="btn btn-sm btn-primary">Get the words!</button> button and wait for a couple of blinks.</div>
            <div>Click any word for its meaning.</div>
            <div>Have fun!</div>
            <div>Powered by &nbsp;<a href="https://translate.google.com/" target="_blank"><span class="glyphicon glyphicon-copyright-mark"></span> Google Translate</a></div>
        </div>
        <br>
        <form onsubmit="return false">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group-lg">
                    <label for="chrset">Characters</label>
                    <input class="form-control" type="text" id="chrset" maxlength="10" placeholder="odvle">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group-lg">
                    <label for="minlen">Min word length</label>
                    <select class="form-control" id="minlen">
                        {% for num in '123456789' %}
                            <option>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group-lg">
                    <label  for="maxlen">Max word length</label>
                    <select class="form-control" id="maxlen">
                        {% for num in '123456789' %}
                            <option>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <button type="submit" formmethod="post" class="btn btn-primary btn-lg center-block" id="gtw">Get the words!</button>
            </div>
        </form>
        <br>
        <div class="container">Result: <div id="res"></div></div>
        <script>
            $('document').ready(function () {
               $('#minlen').find('option:eq(2)').attr('selected', 'selected');
               $('#maxlen').find('option:eq(4)').attr('selected', 'selected');
            });

            $('#gtw').click(function () {
                var data = '{"minlen": ' + $('#minlen').val()
                    + ', "maxlen": ' + $('#maxlen').val()
                    + ', "chrset": "' + $('#chrset').val() + '"}';
                $('#res').html('Loading...');
                $.ajax({
                    type: "POST",
                    url: '{% url 'getwordgen' %}',
                    data: data
                }).done(function (res) {
                    $('#res').html('');
                    var cnt = res.count;
                    if (cnt <= 0) {
                        $('#res').html('Sorry! Nothing found :(');
                    }
                    else {
                        for (var i = 0; i < cnt; i++) {
                            $('#res').append('<a href="#" data-placement="bottom" data-toggle="popover" data-content="Translating..." data-trigger="focus" class="wrdlst">'
                                + res['w' + (i + 1).toString()] + '</a> ');
                        }
                        $('[data-toggle="popover"]').popover({'html': true});
                    }
                    $('.wrdlst').click(function () {
                        var dom = $(this);
                        if (!(dom.attr('loaded'))) {
                            var sourceText = dom[0].innerText;
                            var sourceLang = 'en';
                            var targetLang = 'vi';
                            var url = "https://translate.googleapis.com/translate_a/single?client=gtx&sl="
                                + sourceLang + "&tl=" + targetLang + "&dt=t&q=" + encodeURI(sourceText);
                            $.get(url, function (data) {
                                console.log(data);
                                var r = data[0][0][0];
                                var s = data[0][0][1];
                                dom.attr({'data-content': '<a target="_blank" title="View on google translate" href="https://translate.google.com/#en/vi/'
                                    + s
                                    +'">'+ r + ' <small><span class="glyphicon glyphicon-new-window"></span></small></a>'
                                    , 'loaded': 'loaded'});
                                dom.popover('show');
                            });
                        }
                    })
                });
            });
        </script>
    </body>
    <style>
        *, h2 {
            font-family: 'Vollkorn', serif;
            box-sizing: border-box;
        }
        #res {
            font-size: x-large;
        }
        .instructions {
            font-size: large;
        }
    </style>
</html>